<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <title>TP4</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.php">TP4</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.php">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="ukm.php">Ukm</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 py-3">
        <div class="row">
            <div class="col-md-7">
                <div class="card my-5 mx-5">
                    <div class="card-header text-center">
                        <h3 class="my-0">List UKM</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-stripped table-bordered text-center">
                                <thead class="table-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>UKM</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    DATA_TABEL
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-5 mx-5">
                    <div class="card-header text-center">
                        <h3 class="my-0">Add Data</h3>
                    </div>
                    <div class="card-body">
                        FORM
                        <!--- <form action="" method="post">

                            <label for="nama">Nama DATA_FORM_LABEL:</label>
                            <input type="text" name="DATA_FORM_LABEL_nama" value="DATA_VAL_UPDATE" required>
                            <br><br>
                            
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-success text-white" name="submit">DATA_BUTTON</button>
                                BUTTON_CANCEL
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>